@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 135px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgb(22, 2, 67);
}
.sidebar:hover{
    width: 295px;
    transition: 0.5s;
}
.logo{
    margin-top: 20px;
    text-align: center;
}
.logo img {
    width: 70px;
    height: auto;
}
.logo1{
    height: 80px;
    padding: 16px;
}
.menu{
    margin-top: 20px;
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li {
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover, 
.active{
    background: #e0e0e058;
}
.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    left: 0;
    width: 100%;
}
.dropdown {
    position: relative;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 5px 0;
    list-style: none;
    border-radius: 20px;
    min-width: 150px;
    z-index: 100;
  }
  
  .dropdown-menu li a {
    display: block;
    padding: 0 5px;
    color: rgb(22, 2, 67);
    text-decoration: none;
  }
  
  .dropdown-menu li a:hover {
    transition: 0.5s;
    border-radius: 20px;
    color: #fff;
    background: rgb(22, 2, 67)
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
  

.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}
.header--wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header--title{
    color: rgba(22, 2, 67);
}

.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search--box {
    background: rgba(237, 237, 237);
    border-radius: 15px;
    color: rgba(22, 2, 67);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 12px;
  }
  .search--box input {
    background: transparent;
    padding: 5px;
    border: none;
    outline: none;
  }
  .search--box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }
  .search--box i:hover {
    transform: scale(1.2);
  }
  



.card--container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}
.card--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.main--title{
    color: rgba(22, 2, 67);
    padding-bottom: 10px;
    font-size: 15px;
}
.payment--card{
    background: rgba(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.payment--card:hover{
    transform: translateY(-5px);
}
.card--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.amount{
    display: flex;
    flex-direction: column;
}
.amount--value{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.icon{
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    font-size: 1.5rem;
    background: rgba(22, 2, 67);
}
.card--detail{
    font-size: 18px;
    color: #777777;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}


.light-red{
    background: rgba(254, 226, 256);
}
.light-purple{
    background: rgba(254, 226, 254);
}
.light-green{
    background: rgba(235, 254, 235);
}
.light-blue{
    background: rgba(236, 236, 254);
}
.dark-red{
    background: red;
}
.dark-purple{
    background: purple;
}
.dark-green{
    background: green;
}
.dark-blue{
    background: blue;
}


.tabular--wrapper{
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}
.table.container{
    width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background: rgb(22, 2, 67);
    color: white !important; 
}
.sample-table th{
    padding: 15px;
    text-align: left;
}
tbody{
    background: #f2f2f2;
}
.sample-table td{
    padding: 15px;
    font-size: 14px;
    color: #333;
}
tr:nth-child(even) {
    background: #fff;
}
tfoot{
    background: rgba(22, 2, 67);
    font-weight: bold;
    color: #fff;
}
.sample-table tfoot td {
    padding: 15px;
    color: #fff;
}
.table-container button {
    color: green;
    background: none;
    cursor: pointer;
}
.dropdown-container {
    display: none;
    list-style: none;
    padding-left: 20px;
  }
  .sidebar .menu li a.dropdown-btn.active + .dropdown-container {
    display: block;
  }
