
.inventory-header {
    background-color: rgb(22, 2, 76);
    padding: 8px 12px;
    border-radius: 10px;
    margin-top: 0;
    display: inline-flex;
    align-items: center;
}

h2 {
    text-align: center;
    color: rgb(22, 2, 76);
    margin-bottom: 10px;
}

.supply-icon{
    color: white;
    margin-left: 5px;
}

.supply-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    margin-left: 2px;
}

h4 {
    color: rgb(22, 2, 76);
    margin-bottom: 15px;
}

h4.supply {
    margin-top: 0; 
}

.custom-form {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    margin-bottom: 30px;
}

.custom-form label {
    color: rgb(22, 2, 76);
    font-weight: bold;
}

.custom-form button {
    background-color: rgb(22, 2, 76);
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.custom-form button:hover {
    background-color: rgb(35, 10, 100);
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    color: #d11a2a;
    font-size: 1.1rem;
    cursor: pointer;
}

.icon-button:hover {
    color: #a50f1a;
}

.table-responsive {
    margin-top: 20px;
    position: relative;
}

.notification-wrapper {
    position: absolute;
    right: 50px; 
    font-size: 1.5rem;
    color: rgb(22, 2, 76);
    cursor: pointer;
}

.notification-wrapper #notification-badge {
    position: absolute;
    right: 2px;   
    background: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 0.7rem;
}

.supply-table {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.supply-table th {
    background-color: rgb(22, 2, 76);
    color: #fff;
}

.supply-table tr:hover {
    background-color: #f2f2f2;
}